@import '../../App.scss';

/***** ADVENTURE STYLE *****/
.adventures {
  position: relative;
  padding: 3rem 0;
  background: {
    size: cover;
  }
  clip-path: polygon(0 2%, 100% 0, 100% 98%, 0 100%);

  // MEDIA QUERY
  @include tablet {
    clip-path: polygon(0 6%, 100% 0, 100% 94%, 0 100%);
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: rgba(58, 166, 189, 0.8);
  }

  &-body {
    @include wrapper(90%, 0 auto 4rem);
  }
}

// ADVENTURES BOX
.adventures-box {
  @include flexBox(center, center);
  flex-direction: column;
  flex-wrap: wrap;
  gap: 2em;

  // MEDIA QUERY
  @include mobile {
    flex-direction: row;
    margin: 2rem 0 4rem;
  }

  &__article {
    padding: 3rem 1rem;
    text-align: center;

    // MEDIA QUERY
    @include mobile {
      flex-basis: 20%;
      min-width: 18rem;
    }

    .fas {
      font-size: 3rem;
      color: #1f5d6a;
    }
  }
}
