@import '../../App.scss';

/***** MENU BTN STYLE *****/
.menu-btn {
  position: relative;
  display: block;
  cursor: pointer;
  transition: $linear;
  z-index: 9999999999999;

  // MEDIA QUERY
  @include laptop {
    display: none;
  }

  &__line {
    width: 30px;
    height: 3px;
    margin: 0 0 5px 0;
    background-color: #fff;

    &:last-child {
      margin-bottom: 0;
    }
  }
}
