@import './sass/config';
@import './sass/generalStyle';
@import './sass/typography';
@import './sass/background';

// HEADER
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0.5rem 0;
  z-index: 99999;

  // MEDIA QUERY
  @include laptop {
    padding: 1.5rem 0;
  }
}
